## requirements.txt -- Requirements to be installed for automated tests on travis. Users should ignore this file.
numpy
nibabel
brainload>=0.3.2
matplotlib
vtk
mayavi
six

## The following packages are needed for testing
pytest
pytest-cov
pytest-runner
pytest-console-scripts

## The following packages are needed for building the documentation only. We currently do not do that on Travis.
#sphinx
#sphinx-rtd-theme

## The following are required to get Mayavi working locally, but requesting them in Travis breaks the build.
#PyQt5
#pyside2
