## requirements.txt -- Requirements to be installed for automated tests on travis. Users should ignore this file.
numpy
nibabel
brainload>=0.3.1
matplotlib
vtk
mayavi

## The following packages are needed for testing
pytest
pytest-cov
pytest-runner

## The following packages are needed for building the documentation
#sphinx
#sphinx-rtd-theme

# The following are required to get mayavi working locally, but requesting them in travis breaks the build
#PyQt5
#pyside2
