## requirements.txt -- Requirements to be installed for automated tests on travis. Users should ignore this file.
numpy
nibabel
brainload >= 0.2.0
matplotlib
vtk
mayavi

## The following packages are needed for testing
pytest
pytest-cov
pytest-runner

## The following packages are needed for building the documentation
#sphinx
#sphinx-rtd-theme
